<section class="abaut">
    <div class="container">
        <div class="row items">
            <div class="abaut__image col-xs-12 col-sm-6 col-md-6"></div>
            <div class="abaut__text col-xs-12 col-sm-6 col-md-6">
                <h2 class="abaut__text__title">O nas</h2>
                <p class="abaut__text__info">Mauris gravida imperdiet eros in dictum. Sed justo dui, placerat ac
                    fringilla at, iaculis non ex. Ut consectetur fermentum urna ac mattis. Nulla
                    rutrum mauris ultrices metus gravida, eu feugiat justo porta. Maecenas et semper
                    ipsum, sed porta augue. Aenean quis elit elementum, consequat lectus et,
                    accumsan diam. Nulla iaculis augue sed laoreet sollicitudin. Phasellus dapibus
                    magna tincidunt lectus malesuada aliquam. Vivamus ante nisl, condimentum vitae
                    feugiat a, consectetur volutpat felis. Cras porttitor placerat molestie. Nunc
                    congue nec neque non fringilla.</p>
            </div>
        </div>

    </div>
</section>