<section class="about">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <!--<img class="about__img" src="./../../images/anime1.jpg" alt="">-->
                <!--we can do something like this or just put div and add custom style-->
                <div class="about__img--background"></div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <h2 class="about__title">O nas</h2>
                <p class="about__desc">Mauris gravida imperdiet eros in dictum. Sed justo dui, placerat ac
                    fringilla at, iaculis non ex. Ut consectetur fermentum urna ac mattis. Nulla
                    rutrum mauris ultrices metus gravida, eu feugiat justo porta.</p>
                <p class="about__desc">Maecenas et semper
                    ipsum, sed porta augue. Aenean quis elit elementum, consequat lectus et,
                    accumsan diam. Nulla iaculis augue sed laoreet sollicitudin. Phasellus dapibus
                    magna tincidunt lectus malesuada aliquam.</p>
            </div>
        </div>
    </div>
</section>
