<section class="gallery">
    <div class="container">
        <h2 class="gallery__title">Galeria</h2>
        <div id="container-macy">
            <img class="gallery__img" src="./../../images/gal1.jpg" alt="fish">
                <img class="gallery__img" src="./../../images/gal2.jpg" alt="fish">
                    <img class="gallery__img" src="./../../images/gal3.jpg" alt="boat">
                        <img class="gallery__img" src="./../../images/gal4.jpg" alt="computer">
                            <img class="gallery__img" src="./../../images/gal5.jpg" alt="computer">
                                <img class="gallery__img" src="./../../images/gal6.jpg" alt="computer">
                                    <img class="gallery__img" src="./../../images/gal7.jpg" alt="ocean">
                                        <img class="gallery__img" src="./../../images/gal8.jpg" alt="desk">
                                            <img class="gallery__img" src="./../../images/gal9.jpg" alt="computer">
                                                <img class="gallery__img" src="./../../images/gal10.jpg" alt="boat">
                                                    <img class="gallery__img" src="./../../images/gal11.jpg" alt="ocean">
                                                        <img class="gallery__img" src="./../../images/gal12.jpg" alt="boat">
                                                            <img class="gallery__img" src="./../../images/gal13.jpg" alt="desk">
                                                                <img class="gallery__img" src="./../../images/gal14.jpg" alt="fish">
                                                                    <img class="gallery__img" src="./../../images/gal15.jpg" alt="fish"></div>
                                                                </div>

                                                            </section>